body {
	 background-image: url("https://static1.squarespace.com/static/562af2d9e4b072888c253383/t/580d408cf7e0ab87773a8a20/1477263506083/002-blurred-background-texture-vol2blue.jpg?format=2500w");
	background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	color: #dadada;
}
table{
	margin-top: 65px;
}
.leadMonth,
.leadAllTime,
.userStyles,
.userStyles:hover {
	color: #00FF87;
	cursor: pointer;
}
.pfp {
	width: 35px;
	height: 35px;
	border: 1px solid #dadada;
	border-radius: 5px;
}
.navbar {
	background-color: #1e1e1e;
}
.credit {
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
}