.modal-content {
    position: absolute;
    top:50%;
    -ms-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    width:100%;
  
    height: 30%;
    overflow-y: auto;
}