<div class="container">
    <p-growl [(value)]="msgs"></p-growl>
    <div class="row">
        <div class="col-xs-6">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-4">
                                <button class="btn btn-primary" (click)="crearIdea()">Crear Idea</button>
                            </div>
                            <div class="form-horizontal">
                                <label for="preferences" class="control-label col-xs-3">Ordenar por:</label>
                                <div class="col-xs-5">
                                    <select id="preferences" [(ngModel)]="preferenciaDespliegue" class="form-control btn btn-primary" (change)="updatePreferencia($event)">
                                        <option value="ORDEN_CRONOLOGICO">Fecha</option>
                                        <option value="POR_RELEVANCIA">Relevancia</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-default" *ngIf="!newIdeas || newIdeas?.length == 0">
                            <div class="panel-heading center">
                                <img width="200px" height="200px" class="find_user" src="images/no_ideas.png" />
                                <h3>Conecta con personas para ver sus ideas.</h3>
                            </div>
                        </div>
                        <div class="center" *ngFor="let idea of newIdeas; index as indice">
                            <idea [idea]="idea" (change)="cambio($event)"></idea>
                        </div>
                    </div>
                    <div class="col-xs-1">
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-default center">
                                    <div class="panel-heading">Solicitudes de amistad</div>
                                    <div class="panel-body center">
                                        <button (click)="showRequests()" type="button" [ngClass]="cantidadSolicitudes ? 'btn btn-primary':'btn btn-default'">Pendientes <span class="badge">{{cantidadSolicitudes}}</span></button>
                                    </div>
                                </div>
                            </div>
                            <div *ngFor="let r of recomendaciones;let i = index" class="col-xs-12">
                                <!-- [scrollPoint]="127*(i+1)" -->
                                <div [ngClass]="r.conexion != 'NO_RECOMENDAR'?'panel panel-info center':'panel panel-danger center'">
                                    <div class="panel-heading">
                                        <a (click)="goProfile(r.username)">{{r.nombre}}</a>
                                        <button type="button" class="close" (click)="removeRecomendacion(r.username)">&times;</button>
                                    </div>
                                    <div class="panel-body center">
                                        <button #acceptButton *ngIf="existRequest(r.username)" (click)="accept(r.username,i)" type="button" class="btn btn-primary">Aceptar</button>
                                        <button #rejectButton *ngIf="existRequest(r.username)" (click)="reject(r.username,i)" type="button" class="btn btn-danger">Rechazar</button>
                                        <button #friendButton *ngIf="r.conexion == 'CONFIANZA' && !existRequest(r.username)" (click)="agregarAmigo(r.username,i)"
                                            type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-user"></span> Agregar como amigo</button>
                                        <button #friendButton *ngIf="r.conexion != 'CONFIANZA' && !existRequest(r.username)" (click)="seguirUsuario(r.username,i)"
                                            type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-eye-open"></span> Seguir</button>
                                        <img *ngIf="r.conexion == 'NO_RECOMENDAR'" src="images/icons/lightbulb_on.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>