a:hover{
    cursor: pointer;
}
#loading{
    left: 0px ;
    margin-top: -100px ;
    position: absolute ;
    right: 0px ;
    text-align: center ;
    top: 50% ;
}
.router-outlet{
    margin-top: 5%;
}
.center{
    text-align: center;
}