<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h2>¿Todavía no sabes qué tema de trabajo de grado desarrollar?</h2>
            <br>
            <div align="center" class="col-xs-6">
                <div class="media-left">
                    <img src="images/busca.png" class="media-object" style="width:100px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <FONT COLOR="red"><b>BUSCA</b></FONT>
                    </h4>
                    <b><FONT SIZE=4>Know&Share te permite buscar ideas de trabajo de grado e interactuar con personas como tú.</FONT></b>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="media-left">
                    <img src="images/idea.png" class="media-object" style="width:70px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <FONT COLOR="red"><b>IDEAS</b></FONT>
                    </h4>
                    <b><FONT SIZE=4>Know&Share te ofrece 4 tipos de ideas: Nueva, Para Empezar, Para Continuar y Proyecto... ¡Pruébalas todas! </FONT></b>
                </div>
            </div>

            <div align="center" class="col-xs-6">
                <div class="media-left">
                    <img src="images/conectate.png" class="media-object" style="width:120px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <FONT COLOR="red"><b>CONÉCTATE</b></FONT>
                    </h4>
                    <b><FONT SIZE=4>Conéctate con tus amigos y personas de tu interés. ¡No sabes a quien puedes conocer!</FONT></b>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="media-left">
                    <img src="images/avala.png" class="media-object" style="width:160px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <FONT COLOR="red"><b>AVALA</b></FONT>
                    </h4>
                    <b><FONT SIZE=4>Avala a tus profesores y compañeros. ¡Demuestra quien es el mejor!</FONT></b>
                </div>
            </div>

        </div>
        <div class="col-xs-4">
            <div class="well">
                <form novalidate (ngSubmit)="login()" [formGroup]="loginForm">
                    <div class="alert alert-danger" *ngIf="errorLogin">
                        Credenciales incorrectas.
                    </div>
                    <div class="form-group">
                        <label for="username" class="control-label">Nombre de usuario:</label>
                        <input [(ngModel)]="username" type="text" class="form-control" id="username" name="username" formControlName="username">
                        <div class="alert alert-danger" *ngIf="loginForm.get('username').touched && loginForm.get('username').hasError('required')">
                            Nombre de usuario es requerido.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Contraseña:</label>
                        <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password" formControlName="pass">
                        <div class="alert alert-danger" *ngIf="loginForm.get('pass').touched && loginForm.get('pass').hasError('required')">
                            Contraseña es requerido.
                        </div>
                    </div>
                    <!-- <div class="checkbox">
                        <label><input type="checkbox" name="remember" id="remember"> Remember login</label>
                    </div> -->
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success btn-block">Ingresar</button>
                    <!--<a href="/forgot/" class="btn btn-default btn-block">¿Olvidó su Contraseña?</a>-->
                </form>
            </div>
        </div>
        <div align="center">
            <img src="images/Grado.jpg" class="media-object" style="width:250px">
        </div>
    </div>
</div>