<div class="container">
    <h1>CRUD</h1>
    <p-tabView>
        <p-tabPanel header="Etiquetas">
        
        </p-tabPanel>
        <p-tabPanel header="Habilidades">
            Content 2
        </p-tabPanel>
        <p-tabPanel header="Gustos">
            Content 3    
        </p-tabPanel>
        <p-tabPanel header="Carreras">
            
     <!--       <p-dataTable [value]="AreasC" selectionMode="single" [(selection)]="selectedAC" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
            <p-header>CRUD Area de Conocimiento</p-header>
            <p-column field="Nombre" header="Nombre" [sortable]="true"></p-column>
            <p-column field="Carrera" header="Carrera" [sortable]="true"></p-column>
            <p-column field="Porcentaje" header="Porcentaje" [sortable]="true"></p-column>
            <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
            </p-dataTable>

            <p-dialog header="Detalles" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
                   <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="AC">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label for="Nombre">Nombre</label></div>
                        <div class="ui-grid-col-8"><input pInputText id="Nombre" [(ngModel)]="AC.nombre" /></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label for="Carrera">Carrera</label></div>
                        <div class="ui-grid-col-8"><input pInputText id="Carrera" [(ngModel)]="AC.carrera" /></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4"><label for="Porcentaje">Porcentaje</label></div>
                        <div class="ui-grid-col-8"><input pInputText id="Porcentaje" [(ngModel)]="AC.porcentaje" /></div>
                    </div>
                </div>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                        <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
                    </div>
                </p-footer>
            </p-dialog>-->
            
        </p-tabPanel>
        <p-tabPanel header="Énfasis">
            Content 5    
        </p-tabPanel>
    </p-tabView>
</div>