<div class="container">
  <div class="row">
    <h1 align="center">Panel de Administrador</h1>
    <br>
    <div class="col-xs-4">
      <h4 align="center" class="media-heading"><b>CRUD</b></h4>
      <a (click)="onclickCrud()"><img src="images/CRUD.png" class="media-object" style="width:400px"></a>

    </div>
    <div class="col-xs-4">
      <h4 align="center" class="media-heading"><b>Estadística</b></h4>
    </div>
    <div class="col-xs-4">
      <h4 align="center" class="media-heading"><b>Otro</b></h4>
    </div>
  </div>
</div>