<div class="container" *ngIf="usuario && !isMyProfile">
    <div class="row">
        <div class="center">
            <div class="col-xs-1"></div>
            <div class="col-xs-3">
                <img src={{imagePath}} class="img-thumbnail" />
            </div>
            <div class="col-xs-4">
                <h2>{{usuario.nombre}} {{usuario.apellido}}</h2>
                <p>Amigos: {{usuario.cantidadAmigos}} | Seguidores: {{usuario.cantidadSeguidores}}</p>
                <button *ngIf="!isFriend" [disabled]="!isEnableRequest" (click)="agregar()" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-user"></span> {{textRequest}}</button>
                <button *ngIf="isEnableFollow" (click)="seguir()" type="button" class="btn btn-danger">
                    <span *ngIf="!isFollowing" class="glyphicon glyphicon-eye-open"></span>
                    <span *ngIf="isFollowing" class="glyphicon glyphicon-ok"></span> {{textFollow}}</button>
            </div>
            <!-- <div class="col-xs-4">
                <img src="images/personalidades/{{usuario.personalidad.nombre}}.png" />
            </div> -->
        </div>
    </div>
    <br>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li [ngClass]="{ 'active': activeTab == 'ideas' }"><a (click)="moveTab('ideas')" class="links">Principal</a></li>
                <li [ngClass]="{ 'active': activeTab == 'info' }"><a (click)="moveTab('info')" class="links">Información académica</a></li>
                <li [ngClass]="{ 'active': activeTab == 'friends' }"><a (click)="moveTab('friends')" class="links">Amigos</a></li>
                <li [ngClass]="{ 'active': activeTab == 'following' }"><a (click)="moveTab('following')" class="links">Siguiendo</a></li>
                <li [ngClass]="{ 'active': activeTab == 'followers' }"><a (click)="moveTab('followers')" class="links">Seguidores</a></li>
                <li [ngClass]="{ 'active': activeTab == 'badges' }"><a (click)="moveTab('badges')" class="links">Insignias</a></li>
                <li *ngIf="usuario.tipoUsuario == 'PROFESOR'" [ngClass]="{ 'active': activeTab == 'tg' }"><a (click)="moveTab('tg')" class="links">TG Dirigidos</a></li>
                <li *ngIf="usuario.tipoUsuario != 'ESTUDIANTE'" [ngClass]="{ 'active': activeTab == 'career' }"><a (click)="moveTab('career')" class="links">Formación académica</a></li>
            </ul>
        </div>
    </nav>
    <div *ngIf="activeTab == 'ideas'" class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-3">
            <div [scrollPoint]="0" class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="center">Información básica</h2>
                    <p><strong>Nombre: </strong>{{usuario.nombre}}</p>
                    <p><strong>Apellido: </strong>{{usuario.apellido}}</p>
                    <p *ngIf="usuario.tipoUsuario == 'ESTUDIANTE'">
                        <strong>Semestre: </strong>
                        <span *ngIf="usuario.semestre < 11">{{usuario.semestre}}</span>
                        <span *ngIf="usuario.semestre > 10">10+</span>
                    </p>
                    <p><strong>Correo: </strong>{{usuario.email}}</p>
                    <p *ngIf="usuario.tipoUsuario == 'PROFESOR'">
                        <strong>Grupo investigación: </strong>
                        <span *ngIf="usuario.grupoInvestigacion">{{usuario.grupoInvestigacion}}</span>
                        <span *ngIf="!usuario.grupoInvestigacion">-</span>
                    </p>
                    <p><strong>Tipo usuario: </strong>{{usuario.tipoUsuario}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="panel panel-danger">
                <div class="panel-heading">Type of idea Posted on dd/MM/yyyy</div>
                <div class="panel-body">Description</div>
                <div class="row">
                    <div class="col-xs-4"><button type="button" class="btn btn-default btn-block"><i class="glyphicon glyphicon-asterisk"></i> Light</button></div>
                    <div class="col-xs-4"><button type="button" class="btn btn-default btn-block"><i class="glyphicon glyphicon-comment"></i> Comment</button></div>
                    <div class="col-xs-4"><button type="button" class="btn btn-default btn-block"><i class="glyphicon glyphicon-share"></i> Share</button></div>
                </div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">Type of idea Posted on dd/MM/yyyy</div>
                <div class="panel-body">Description</div>
                <div class="row">
                    <div class="col-xs-4"><button type="button" class="btn btn-default btn-block"><i class="glyphicon glyphicon-asterisk"></i> Light</button></div>
                    <div class="col-xs-4"><button type="button" class="btn btn-default btn-block"><i class="glyphicon glyphicon-comment"></i> Comment</button></div>
                    <div class="col-xs-4"><button type="button" class="btn btn-default btn-block"><i class="glyphicon glyphicon-share"></i> Share</button></div>
                </div>
            </div>

            <div class="panel panel-danger">
                <div class="panel-heading">Type of idea Posted on dd/MM/yyyy</div>
                <div class="panel-body">Description</div>
                <div class="row">
                    <div class="col-xs-4"><button type="button" class="btn btn-default btn-block"><i class="glyphicon glyphicon-asterisk"></i> Light</button></div>
                    <div class="col-xs-4"><button type="button" class="btn btn-default btn-block"><i class="glyphicon glyphicon-comment"></i> Comment</button></div>
                    <div class="col-xs-4"><button type="button" class="btn btn-default btn-block"><i class="glyphicon glyphicon-share"></i> Share</button></div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="activeTab == 'info'">
        <div class="row">
            <div *ngIf="usuario.tipoUsuario != 'PROFESOR'" class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Habilidades personales:</h3>
                        <p *ngIf="habilidadesPersonales?.length == 0">No tiene habilidades personales registradas</p>
                        <button *ngFor="let h of habilidadesPersonales" type="button" class="btn btn-default btn-aval">{{h.nombre}} <span class="badge">{{h.avales}}</span></button>
                        <!--<p *ngFor="let h of habilidadesPersonales">{{h.nombre}} <span class="label label-default">{{h.avales}}</span></p>-->
                    </div>
                </div>
            </div>
            <div *ngIf="usuario.tipoUsuario == 'PROFESOR'" class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Cualidades como profesor:</h3>
                        <p *ngIf="usuario.cualidades?.length == 0">No tiene cualidades como profesor registradas</p>
                        <button *ngFor="let c of usuario.cualidades" type="button" class="btn btn-default btn-aval">{{c.nombre}} <span class="badge">{{c.avales}}</span></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div *ngIf="!usuario.segundaCarrera" class="col-xs-2">
            </div>
            <div [ngClass]="usuario.segundaCarrera ? 'col-xs-6':'col-xs-8'">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{usuario.carrera.nombre}}</h2>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Énfasis:</h3>
                                <p><strong>Principal: </strong>{{usuario.enfasis[0].nombre}}</p>
                                <p *ngIf="usuario.enfasis[1]"><strong>Secundario: </strong>{{usuario.enfasis[1].nombre}}</p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Áreas de conocimiento:</h3>
                                <p *ngIf="areasConocimiento?.length == 0">No tiene áreas de conocimiento asociadas</p>
                                <p *ngFor="let ac of areasConocimiento">
                                    {{ac.nombre}} <span *ngIf="usuario.tipoUsuario == 'PROFESOR'" class="badge">{{ac.porcentaje}} %</span>
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div *ngIf="usuario.tipoUsuario != 'PROFESOR'" class="panel-body">
                                <h3>Habilidades profesionales:</h3>
                                <p *ngIf="habilidadesProfesionales?.length == 0">No tiene habilidades profesionales registradas</p>
                                <button *ngFor="let h of habilidadesProfesionales" type="button" class="btn btn-default btn-aval">{{h.nombre}} <span class="badge">{{h.avales}}</span></button>
                            </div>
                            <div *ngIf="usuario.tipoUsuario == 'PROFESOR'" class="panel-body">
                                <h3>Cualidades profesionales:</h3>
                                <p *ngIf="habilidadesProfesionales?.length == 0">No tiene cualidades profesionales registradas</p>
                                <button *ngFor="let h of usuario.habilidades" type="button" class="btn btn-default btn-aval">{{h.nombre}} <span class="badge">{{h.avales}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="usuario.segundaCarrera" class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>{{usuario.segundaCarrera.nombre}}</h2>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Énfasis:</h3>
                                <p><strong>Principal: </strong>{{usuario.enfasis[2].nombre}}</p>
                                <p *ngIf="usuario.enfasis[3]"><strong>Secundario: </strong>{{usuario.enfasis[3].nombre}}</p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Áreas de conocimiento:</h3>
                                <p *ngIf="areasConocimientoSeg?.length == 0">No tiene áreas de conocimiento asociadas</p>
                                <p *ngFor="let ac of areasConocimientoSeg">{{ac.nombre}}</p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Habilidades profesionales:</h3>
                                <p *ngIf="habilidadesProfesionalesSeg?.length == 0">No tiene habilidades profesionales registradas</p>
                                <button *ngFor="let h of habilidadesProfesionalesSeg" type="button" class="btn btn-default btn-aval">{{h.nombre}} <span class="badge">{{h.avales}}</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="activeTab == 'following' || activeTab == 'friends' || activeTab == 'followers'" class="row">
        <div *ngIf="activeTab == 'friends'" class="col-xs-12">
            <div class="panel panel-default" *ngIf="!usuario.amigos || usuario.amigos?.length == 0">
                <div class="panel-heading center">
                    <img class="find_user" src="images/find-user.png" />
                    <h3>Aún no tiene amigos en su red.</h3>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let a of usuario.amigos" class="col-xs-4">
                    <div class="card">
                        <img src="{{serverUri}}{{a.username}}"
                            (error)="errorImageHandler($event,a.username,a.genero)" class="profile_image">
                        <div class="container-card">
                            <h2 class="name-card">{{a.nombre}}</h2>
                            <p class="title-card">{{a.carrera}}</p>
                            <p>@{{a.username}}</p>
                            <p><button (click)="goProfile(a.username)" class="button-card">Ver perfil</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="activeTab == 'followers'" class="col-xs-12">
            <div class="panel panel-default" *ngIf="!usuario.seguidores || usuario.seguidores?.length == 0">
                <div class="panel-heading center">
                    <img class="find_user" src="images/find-user.png" />
                    <h3>Aún no tiene seguidores en su red.</h3>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let s of usuario.seguidores" class="col-xs-4">
                    <div class="card">
                        <img src="{{serverUri}}{{s.username}}"
                            (error)="errorImageHandler($event,s.username,s.genero)" class="profile_image">
                        <div class="container-card">
                            <h2 class="name-card">{{s.nombre}}</h2>
                            <p class="title-card">{{s.carrera}}</p>
                            <p>@{{s.username}}</p>
                            <p><button (click)="goProfile(s.username)" class="button-card">Ver perfil</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="activeTab == 'following'" class="col-xs-12">
            <div class="panel panel-default" *ngIf="!usuario.siguiendo || usuario.siguiendo?.length == 0">
                <div class="panel-heading center">
                    <img class="find_user" src="images/find-user.png" />
                    <h3>Aún no está siguiendo a alguien.</h3>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let s of usuario.siguiendo" class="col-xs-4">
                    <div class="card">
                        <img src="{{serverUri}}{{s.username}}"
                            (error)="errorImageHandler($event,s.username,s.genero)" class="profile_image">
                        <div class="container-card">
                            <h2 class="name-card">{{s.nombre}}</h2>
                            <p class="title-card">{{s.carrera}}</p>
                            <p>@{{s.username}}</p>
                            <p><button (click)="goProfile(s.username)" class="button-card">Ver perfil</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="activeTab == 'badges'" class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <h3 *ngIf="!usuario.insignias || usuario.insignias?.length == 0">Aún no ha conseguido insignias para mostrar.</h3>
            <div class="row">
                <div *ngFor="let a of usuario.insignias" class="col-xs-6">
                    {{a}}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="activeTab == 'tg'" class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="center">Trabajos de grado dirigidos</h2>
                    <p *ngIf="!usuario.tgDirigidos || usuario.tgDirigidos?.length == 0">No tiene trabajos de grado dirigidos asociados</p>
                    <div class="panel panel-default" *ngFor="let tg of usuario.tgDirigidos">
                        <div class="panel-body">
                            <p><strong>Título: </strong>{{tg.nombre}}</p>
                            <p><strong>Periodo fin: </strong>{{tg.periodoFin}}</p>
                            <p><strong>Descripción: </strong>{{tg.descripcion}}</p>
                            <p><strong>Número de estudiantes: </strong>{{tg.numEstudiantes}}</p>
                            <p><strong>Resumen: </strong>{{tg.resumen}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="activeTab == 'career'" class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="center">Formación académica</h2>
                    <p *ngIf="!usuario.formacionAcademica || usuario.formacionAcademica?.length == 0">No tiene formacion académica asociada</p>
                    <div class="panel panel-default" *ngFor="let fa of usuario.formacionAcademica">
                        <div class="panel-body">
                            <p><strong>Título: </strong>{{fa.titulo}}</p>
                            <p><strong>Año: </strong>{{fa.anio}}</p>
                            <p><strong>Univerisidad: </strong>{{fa.universidad}}</p>
                            <p><strong>Título del trabajo de grado: </strong>{{fa.tituloTG}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="usuario && isMyProfile">
    <myprofile [usuario]="usuario"></myprofile>
</div>